

<!-- Content  -->

<!-- <div class="home-hero">
  <mat-card class="hero-card">
    <h1>Événement à venir !</h1>
    <p>Découvrez.</p>
    <button mat-raised-button color="primary">En savoir plus</button>
  </mat-card>
</div> -->
<div class="home-hero">
  <mat-card class="hero-card">
    <h1>Événement à venir !</h1>
    <h4>Ajouter vos événements en tant qu'Organisateur.</h4>
    <div class="button-container">
      <button mat-raised-button color="accent" [routerLink]="['/register-client']" *ngIf="!authService.isLoggedIn()">Créer un  compte  Client</button>
      <button mat-raised-button color="accent" [routerLink]="['/register-organisateur']" *ngIf="!authService.isLoggedIn()">Créer un compte Organisateur</button>
    </div>
  </mat-card>
</div>
<!-- Content -->




<!-- container -->
<div fxLayout="" fxLayoutAlign="center stretch" style="padding: 16px;">

  <!-- row -->
  <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">

    <!-- <div fxFlex="12"  >
    </div> -->
    <div *ngIf="events.length === 0" style="text-align: center; font-size: 20px; margin-top: 20px;">
      <br><h3>Aucun événement disponible pour le moment.</h3>
    </div>

    <div  fxFlex="100%" fxFlex.gt-xs="45%" fxFlex.gt-sm="30%" fxFlex.gt-md="22%"  *ngFor="let evenement of events">
      <mat-card class="example-card" appearance="outlined">

        <div class="badge" [ngClass]="evenement.statut">
          {{ evenement.statut }}
        </div>

        <img mat-card-image src="/concert1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title>
            <a (click)="goToDetails(evenement.id)" class="event-title" style="cursor: pointer; text-decoration: none;">
              {{ evenement.nomEvent }}
            </a>
          </mat-card-title>

        </mat-card-header>
        <mat-card-content>
          <p>Lieu: {{ evenement.lieu }}</p>
          <p>Date: {{ evenement.date }}</p>
          <p>
            {{ evenement.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button  color="primary" (click)="goToDetails(evenement.id)">Voir Plus</button>
        </mat-card-actions>
      </mat-card><br><br>
    </div>



    <!-- <div fxFlex="12">
    </div> -->

  </div>
</div>


