
<mat-toolbar color="white" class="toolbar">
  <div class="logo-container">
    <a routerLink="/">
      <img src="/ticket.png" alt="Logo" class="logo-icon">
      <span class="logo-text">E-<span class="bold-text">ticket</span></span>
    </a>
  </div>
  <div class="spacer"></div>
  <nav class="navigation">
    <a mat-button routerLink="/home" routerLinkActive="active-link">Accueil</a>
    <a mat-button routerLink="/blogs" routerLinkActive="active-link">Blogs</a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact Us</a>
  </nav>
  <div class="spacer"></div>
  <div class="search-container">
    <input type="text" placeholder="Search" class="search-input">
    <button mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<!-- <app-my-home></app-my-home> -->

