
<div fxLayout="" fxLayoutAlign="center stretch" style="padding: 16px;">

  <!-- row -->
  <div fxLayout="row wrap" fxLayoutGap="30px" fxLayoutAlign="start center">

    <!-- <div fxFlex="12"  >
    </div> -->
    <div  style="text-align: center; font-size: 20px; margin-top: 20px;">
      <br><br><h3>À propos de nous</h3>
      <p>Bienvenue sur notre site d'événements ! 🎉</p>
      <p>Ce site a été dévéloppé par le binôme Loïc Nassara & Cyril Kone</p>
      <p>Un petit guide pour l'exploration du site.</p>
      <p>Une fois sur la page d'accueil, vous verrez qu'il n'a aucun évévenement afficher sur la page d'accueil, ce que vous allez faire<br> c'est de créer un
        compte Organisateur afin de pourvoir ajouter vos événements.</p>
        <div class="image-container">
          <img src="/click.png" alt="button register" />
        </div><br>
      <p>Après avoir céer votre compte, cliquer sur Ajouter un événement dans la barre de menu, ensuite ajouter un évévenement, vous pouvez voir votre événement<br> dans mes événement, elle ne sera pas affichée sur l'accueil parceque son statut est Enattente.</p>
      <div class="image-container">
        <img src="/ajout.png" alt="button register" />
      </div>
      <p>Pour changer son statut, il va falloir créer un compte administrateur, vous allez vous déconnecter de votre compte organisateur, et cliquer sur la connexion Admin dans la barre de menu.</p>
      <p>Une fois connecter en tant qu'admin, cliquer Listes événement, ensuite aller dans l'action pour changer le statut de vos événements, sauf Enattente, tous les autres statuts seront afficher sur l'accueil</p>
      <div class="image-container">
        <img src="/listes.png" alt="button register" />
      </div>
      <p> Merci !</p>
    </div>
  </div>
</div>
